{% extends "base.html" %}
{% block content %}

<div class="hero">

    <div class="hero-content">
        <h1>Welcome to <span class="gradient-text">Planora</span></h1>
        <p>Your modern task management solution.</p>

        {% if current_user.is_authenticated %}
            <a href="{{ url_for('dashboard') }}" class="hero-btn">Go to Dashboard</a>
        {% else %}
            <a href="{{ url_for('register') }}" class="hero-btn">Create Free Account</a>
        {% endif %}
    </div>

</div>

{% endblock %}